# Supabase PostgreSQL Configuration
SUPABASE_DB_HOST=db.exhdvckgpkuxpaitgzba.supabase.co
SUPABASE_DB_PORT=5432
SUPABASE_DB_NAME=postgres
SUPABASE_DB_USER=postgres
SUPABASE_DB_PASSWORD=@QwikPrintsoft
DATABASE_URL=postgresql://postgres:%40QwikPrintsoft@db.exhdvckgpkuxpaitgzba.supabase.co:5432/postgres
PORT=8000
