# Database URL (PostgreSQL / Supabase connection string)
DATABASE_URL=postgresql://postgres:your_password@db.your_project.supabase.co:5432/postgres

# Supabase Credentials
SUPABASE_DB_HOST=db.your_project.supabase.co
SUPABASE_DB_PORT=5432
SUPABASE_DB_NAME=postgres
SUPABASE_DB_USER=postgres
SUPABASE_DB_PASSWORD=your_password

# Web Server Config
PORT=8000
SERVER_URL=http://localhost:8000
